@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #fefefe;
}